<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>OptiGuard Yönetim Paneli</h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="email" name="email" placeholder="E-posta" required>
            <input type="password" name="password" placeholder="Şifre" required>
            <button type="submit">Giriş Yap</button>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>