<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Canlı Loglar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logs_style.css') }}">
</head>
<body>
    <h1>📜 Canlı Loglar</h1>
    <pre id="logContent">Yükleniyor...</pre>
    <a href="/">⬅ Geri dön</a>
    <script>
        function fetchLogs() {
            fetch('/getlogs')
                .then(response => response.text())
                .then(data => {
                    // Logları satır satır ayır ve tersine çevir
                    let lines = data.trim().split('\n').reverse(); // Satırları tersine çeviriyoruz
                    
                    // Her satırı işleyip HTML içine yerleştiriyoruz
                    let formattedLogs = lines.map(line => {
                        return line.replace(/INFO/g, '<span class="info">INFO</span>')
                                   .replace(/WARNING/g, '<span class="warning">WARNING</span>')
                                   .replace(/ERROR/g, '<span class="error">ERROR</span>');
                    }).join('\n'); // Tekrar birleştir

                    document.getElementById('logContent').innerHTML = formattedLogs;
                });
        }
        fetchLogs();
        setInterval(fetchLogs, 2000);
    </script>
</body>
</html>